<!DOCTYPE html>
<html>
    <head>
        <title>Pi Camera</title>
        <!-- jquery -->
        <script src="static/jquery-3.4.0.min.js"></script>
        <style>
input.modified {
    background-color: pink;
}
        </style>
        <script>
var status = {};
var last_grab_time = 0;
var time_between_grabs = 10000;  // ms

camera_query = function(op, post_data, cb) {
    if (post_data == null) {
        post_data = {op: op};
    } else {
        post_data.op = op;
    }
    r = $.ajax({
        url: "camera",
        type: "POST",
        dataType: "json",
        data: post_data,
    });
    if (cb != null) r.done(cb);
};


get_camera_status = function() {
    camera_query("status", null, new_camera_status);
};


get_camera_image = function () {
    if (status.recording) return;
    date = new Date();
    last_grab_time = date.getTime();
    xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            url = window.URL || window.webkitURL;
            $("#camera_image").attr("src", url.createObjectURL(this.response));
        };
    };
    xhr.open("GET", "camera");
    xhr.responseType = "blob";
    xhr.send();
};


set_camera_config = function () {
    camera_query("config", {args: $("#config").val()}, get_camera_status);
    $("#config").removeClass("modified");
};


delete_video = function (video_filename) {
    camera_query("remove", {fn: video_filename}, get_camera_status);
};


start_recording = function () {
    data = {
        duration: $("#duration").val(),
    };
    fn = $("#filename").val();
    if (fn != "") data.fn = fn;
    camera_query("record", data, get_camera_status);
};


stop_recording = function () {
    camera_query("stop", {}, get_camera_status);
};


new_camera_status = function(json) {
    console.log({new_status: json});
    status = json;
    //$("#recording").text(json.recording ? "Stop" : "Record");
    if (json.recording) {
        $("#recording").text("Stop");
        $("#recording").attr("onclick", "stop_recording()");
    } else {
        $("#recording").text("Record");
        $("#recording").attr("onclick", "start_recording()");
    };
    $("#n_videos").text(json.videos.length);
    $("#space").text(json.space);
    if (!json.recording & $("#auto_grab").prop("checked")) {
        date = new Date();
        time_ms = date.getTime();
        if (time_ms - last_grab_time > time_between_grabs) {
            get_camera_image();
        };
    };
    // only overwrite this if it's not being modified
    if (!$("#config").hasClass("modified")) {
        $("#config").val(json.grab_args);
    };
    // video filenames
    vul = $("ul#videos");
    json.videos.forEach(function (v) {
        li = $("li#" + v);
        if (li.length == 0) {
            // add it
            vul.append($("<li>").append().attr("id", v));
            li = $("li#" + v);
            //li.append($("<a>"));
            //li.children("a").text(v).attr("href", "/videos/" + v + ".h264");
            li.append($("<a>").text(v).attr("href", "/videos/" + v + ".h264"));
            // add delete button
            li.append($("<button>").on("click", function () {
                delete_video(v);
            }).text("Delete"));
        };
    });
    // remove any videos listed but not in json.videos
    $("ul#videos li").each(function (i, e) {
        if (json.videos.indexOf($(e).attr("id")) == -1) $(e).remove();
    });
};


$(document).ready(function() {
    $("#config").bind("change keyup input", function() {
        $(this).addClass("modified");
    });
    get_camera_status();
    window.setInterval(get_camera_status, 3000);
});
        </script>
    </head>
    <body>
        <h1>Status</h1>
        <div id="status">
            <!-- recording light, also control recording -->
            <button type="button", id="recording">Unknown</button> 
            Duration (ms): <input type="text" id="duration" value="3s">
            Filename: <input type="text" id="filename">
            <!-- disk space free -->
            <span id="space">Unknown</span> free 
            <!-- number of videos -->
            <span id="n_videos">Unknown</span> videos
        </div>
        <div id="config_div">
            <!-- text input for camera args, turn red on edit, submit on enter -->
            Grab arguments: <input type="text" id="config"> 
            <button type="button" onclick="set_camera_config()">Set</button>
        </div>
        <div>
            <input type="checkbox" id="auto_grab" onclick="get_camera_image();">Auto grab
        </div>
        <!-- show camera image, periodically update when not recording -->
        <img id="camera_image"></img>
        <h1>Videos</h1>
        <ul id="videos"></ul>
    </body>
</html>
